<div class="row headerstyle">
    <div class="col-sm-5">
        <h2 *ngIf="index===0">Create New Student</h2>
        <h2 *ngIf="index===1">Create New Staff</h2>
        <h2 *ngIf="index===2">e-Letter</h2>
        <h2 *ngIf="index===3">Staff FeedBack</h2>
        <h2 *ngIf="index===4">Student FeedBack</h2>
        <h2 *ngIf="index===5">Class & Section</h2>
        <h2 *ngIf="index===6">Academic Details</h2>
        <h2 *ngIf="index===7">Subjects</h2>
        <h2 *ngIf="index===8">Lesson Plan</h2>
    </div>
    <div class="row col-sm-3">
        <!-- <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Second campaign</mat-label>
            <mat-date-range-input
              [formGroup]="campaignTwo"
              [rangePicker]="campaignTwoPicker"
              [comparisonStart]="campaignOne.value.start"
              [comparisonEnd]="campaignOne.value.end">
              <input matStartDate placeholder="Start date" formControlName="start">
              <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="campaignTwoPicker"></mat-datepicker-toggle>
            <mat-date-range-picker #campaignTwoPicker></mat-date-range-picker>
          </mat-form-field> -->
      
        <h2 style="margin-left: 20px;">Current Accademic Year</h2>
    </div>
    <div class="col-sm-4">
        <div class="right-content" *ngIf="index!==5 && index!==6 && index!==8">
            <img src="../../../assets/visible.png" style="height:35px;margin-top:-10px;margin-right: 40px; cursor: pointer;"
                (click)="staffListOpen()" />
        </div>
    </div>
   
    
   
</div>