<div class="timetable" [formGroup]="timeTables">
  
    <div class="week-names">
      <div>monday</div>
      <div>tuesday</div>
      <div>wednesday</div>
      <div>thursday</div>
      <div>friday</div>
      <div class="weekend">saturday</div>
      <div class="weekend">sunday</div>
    </div>
    <div class="time-interval">

      <div>I</div>
      <div>II</div>
      <div>III</div>
      <div>IV</div>
      <div>V</div>
      <div>VI</div>
      <div>VII</div>
      <div>VIII</div>
      <div>IX</div>
    </div>
    <div class="content">
      <div>
        <!-- <div class="accent-orange-gradient"> -->
        <div class="row">
          <mat-form-field appearance="standard">
            <mat-label style="color: black; display:flex;width:500vw;height: 50vh;">subject</mat-label>
            <mat-select formControlName="subject">
              <mat-option *ngFor="let subject of subjectlist" [value]="subject.viewValue">
                {{subject.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label style="color: black;">Staff</mat-label>
            <mat-select formControlName="staff">
              <mat-option *ngFor="let staff of staffList" [value]="staff.viewValue">
                {{staff.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
         
          <!-- </div> -->
        </div>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div>
        <div class="accent-green-gradient"></div>
      </div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div></div>
      <div></div>
      <div></div>
      <div>
        <div class="accent-cyan-gradient"></div>
      </div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div>
        <div class="accent-pink-gradient"></div>
      </div>
      <div></div>
      <div>
        <div class="accent-purple-gradient"></div>
      </div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div>
        <div class="accent-purple-gradient"></div>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
    </div>
  
</div>
<!-- <button (click)="openDialog()">test</button> -->