<div class="timetable">
    <div class="week-names">
      <div>monday</div>
      <div>tuesday</div>
      <div>wednesday</div>
      <div>thursday</div>
      <div>friday</div>
      <div class="weekend">saturday</div>
      <div class="weekend">sunday</div>
    </div>
    <div class="time-interval">
       
      <div>I</div>
      <div>II</div>
      <div>III</div>
      <div>IV</div>
      <div>V</div>
      <div>VI</div>
      <div>VII</div>
      <div>VIII</div>
      <div>IX</div>
    </div>
    <div class="content">
      <div>
        <div class="accent-orange-gradient">
            <div class="row">
            <mat-select formControlName="religionId">
                <mat-option>
                    
                </mat-option>
            </mat-select>
            <mat-select formControlName="religionId">
                <mat-option>
                    
                </mat-option>
            </mat-select>
            <mat-select formControlName="religionId">
                <mat-option>
                    
                </mat-option>
            </mat-select>
            <mat-select formControlName="religionId">
                <mat-option>
                    
                </mat-option>
            </mat-select>
        </div>
        </div>
      </div>
      <div></div>
      <div></div>
      <div></div>
          <div>
        <div class="accent-green-gradient"></div>
      </div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div></div>
      <div></div>
      <div></div>
      <div>
        <div class="accent-cyan-gradient"></div>
      </div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div>
        <div class="accent-pink-gradient"></div>
      </div>
      <div></div>
      <div>
        <div class="accent-purple-gradient"></div>
      </div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div>
        <div class="accent-purple-gradient"></div>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
    </div>
  </div>
  <!-- <button (click)="openDialog()">test</button> -->