.example-spacer {
  flex: 1 1 auto;
}

/* .container{
  background-image: url(../assets/Login.jpg);
} */

.spacer{
  flex:1;
}

.btnspacer{
  border: hidden;
  box-shadow: unset;
}



.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}