<form [formGroup]="LessonListForm">
    <div class=" row headerstyle">
        <h2 style="margin-left: 40px;">Class{{class}}</h2>
        <h2 style="margin-left: 70px; background-color:#f27200;color: white;padding-left: 15px;padding-right: 15px;">
            {{subject}}</h2>
        <div class="row field" style="margin-left: 150px;">
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>From</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="from">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
          
            <!-- <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>To</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="To">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div> -->
        </div>
        <div class="right-content" style="margin-top:-10px">
            <h2>Submit For Approval</h2>
        </div>
    </div>
    <div class="row" style="margin-left:10px;">
        <h2 style="margin-left: 40px; cursor: pointer;" (click)="navToback()"><img src="../../../../assets/left.png" class="icon" style="margin-right: 10px;margin-top: -1px;" />Back to Add Lesson </h2>
    </div>
    <table mat-table [dataSource]="studentListData" class="mat-elevation-z6">
        <!--studentName-->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
    
        <!--lesson-->
        <ng-container matColumnDef="lesson">
            <th mat-header-cell *matHeaderCellDef> Lesson </th>
            <td mat-cell *matCellDef="let element"> {{element.lesson}} </td>
        </ng-container>
    
        <!--topic-->
        <ng-container matColumnDef="topic">
            <th mat-header-cell *matHeaderCellDef> Topic </th>
            <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
        </ng-container>
    
        <!--concept-->
        <ng-container matColumnDef="concept">
            <th mat-header-cell *matHeaderCellDef> Concept </th>
            <td mat-cell *matCellDef="let element"> {{element.concept}} </td>
        </ng-container>
    
        <!--extraInfo-->
        <ng-container matColumnDef="extraInfo">
            <th mat-header-cell *matHeaderCellDef> Extra Info </th>
            <td mat-cell *matCellDef="let element"> {{element.extraInfo}} </td>
        </ng-container>
    
        <!--games-->
        <ng-container matColumnDef="games">
            <th mat-header-cell *matHeaderCellDef> Games </th>
            <td mat-cell *matCellDef="let element"> {{element.games}} </td>
        </ng-container>
    
        <!--activity-->
        <ng-container matColumnDef="activity">
            <th mat-header-cell *matHeaderCellDef> Activity </th>
            <td mat-cell *matCellDef="let element"> {{element.activity}} </td>
        </ng-container>

        <ng-container matColumnDef="homeWork">
            <th mat-header-cell *matHeaderCellDef> Home work </th>
            <td mat-cell *matCellDef="let element"> {{element.homeWork}} </td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <img src="../../../../assets/edit.png" class="icon" style="margin-right: 10px;"/>
                <img src="../../../../assets/trash.png" class="icon" style="margin-right: 10px;"/>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</form>