<form [formGroup] = "empDetailsForm" class="p-base">
    <div class="container-fluid" style="margin-top:5px">
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Teacher ID</mat-label>
                    <input matInput formControlName="teacherId"  >
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Employee ID</mat-label>
                    <input matInput formControlName="employeeId" >
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Education</mat-label>
                    <mat-select formControlName="educationId">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Official Email</mat-label>
                    <input matInput formControlName="officialEmailId" >
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>ESI Number</mat-label>


                    <input matInput formControlName="esiNumber" >
                </mat-form-field>
            </div>

            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Staff Type</mat-label>
                    <mat-select formControlName="staffId">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Employeement Status</mat-label>
                    <mat-select formControlName="employeementstatusId">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Reporting To</mat-label>
                    <mat-select formControlName="reportingTo">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>EPF Number</mat-label>
                    <input matInput formControlName="epfNumber">
                </mat-form-field>
            </div>

            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="departmentId">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Joining Date</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="joiningDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Active</mat-label>
                    <mat-select formControlName="activeId">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>UAN Number</mat-label>
                    <input matInput formControlName="uanNumber" >
                </mat-form-field>
            </div>

            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Designation</mat-label>
                    <mat-select formControlName="designationId">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="roleId">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>

