<nav class="navbar navbar-expand-sm bg-light navbar-light Navborder">
  <a>
    <img src="../../../assets/menu.png" alt="logo" style="width:30px;" class="menuIcon" (click)="menuToggleAction()">
    
  </a>
  <p class="NavborHead">Menu</p>
  <div class="NavCenter">
    <div class="row">
    <img src="../../../assets/BVloginlogo.png"  alt="logo" style="width:100px;">
    </div>
  </div>
  
  <div class="mx-auto order-0">
    
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
    </button> -->
</div>
<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">
            </a>
        </li>
    </ul>
    <h1 style="padding-right: 10px; font-style: initial;">Welcome<br>Username!</h1>
    <img src="../../../assets/hipster.png"  alt="profile" style="width:100px; padding-right: 10px;">
    <img src="../../../assets/notification-bell.png"  alt="Notify" style="width:40px; padding-right: 10px;">
    <button class="btn  " style="background-color: #f2725f;color:white" type="submit">Help</button>
</div>
</nav>

<mat-drawer #drawer class="example-sidenav" mode="side">

  <div class="example-sidenav-content">
    <ul>
      <li>Student</li>
    </ul>
    <button type="button" mat-button (click)="drawer.toggle()">
     Student 
    </button>
  </div>

</mat-drawer>