<div class="container backphoto">
  
  <div class="row">
    <div class="column topspace">
      <form class="box">
        <img src="../../assets/BVloginlogo.png" style="margin-top:-50px; " class="logicon">
       
        <div class="form-group" style="margin-left:10px;margin-right:10px;margin-top:15px">
          <label for="email">Admission Number</label>
          <input type="email" class="form-control" id="email">  
        </div> 
        <div class="form-group" style="margin-left:10px;margin-right:10px;margin-top:15px">
          <label for="pwd">Password</label>
          <input type="password" class="form-control" id="pwd">
        </div>
        <div class="form-group" style="margin-left:10px;margin-right:10px;">
          <!-- <button type="submit" class="btn-success rounded-pill">Submit</button> -->
          <a class="gradient-button gradient-button-1" (click)="Authuser()">Submit</a><br />
        </div>
              <!-- <div col-sm-1></div> -->
              <!-- topspace -->
              <!-- <label class="mdc-text-field mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="my-label-id">Hint text</span>
                <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
              </label> -->
      </form>
    </div>
    <div class="column"></div>

</div>
</div>
<!-- <button type="submit" id = "btnLogin" class="btn btn-primary rounded-pill" (click)="Authuser()">Submit</button> -->