<div id="backphoto" class="container-fluid">
<div>
  <div class="row">
    <div class="col-sm-1" ></div>
    <div class="col-sm-4 col-lg-3" >
      <form class="box mat-elevation-z6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <img src="../../assets/BVloginlogo.png"  class="logicon">
        <div class="inputForm">
        <mat-form-field  appearance="outline" >
          <mat-label>Admission Number</mat-label>
          <input matInput formControlName = "username" #AdmissionNumber>
        </mat-form-field>
        <mat-form-field  appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName = "password" #Password type="password">
        </mat-form-field>
        
        <div class="submit">
          <button class="submit-btn gradient-button " (click)="authUser()" (click) = "alertService.success('Success!!', options)">Login</button><br />
        </div>

        <div class="submit">
          <button class="submit-btn gradient-button "  (click) = "alertService.success('Success on the left!!', { id: 'alert-1' })">Test Alert</button><br />
        </div>

      </div>     
      </form>
    </div>


</div>
</div>
</div>

<!-- <button type="submit" id = "btnLogin" class="btn btn-primary rounded-pill" (click)="Authuser()">Submit</button> -->