<app-header-action [index]='8'></app-header-action>
<!-- <mat-card-header>
    <mat-card-title>title</mat-card-title>
</mat-card-header>
<mat-card-content>
    <form>
     
    </form>

</mat-card-content> -->
<app-classes></app-classes>
<!-- <div class="row">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-2" style="padding: 10px;">
        <mat-card>
            <mat-card-title>LKG</mat-card-title>
        </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 10px;">
        <mat-card style="text-align: center; ">
            <mat-card-title>UKG</mat-card-title>
        </mat-card>
    </div>
    <div class=" col-sm-2" style="padding: 10px;">
        <mat-card style="text-align: center;">
            <mat-card-title>1</mat-card-title>
        </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 10px;">
        <mat-card style="text-align: center;">
            <mat-card-title>2</mat-card-title>
        </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 10px;">
        <mat-card style="text-align: center;">
            <mat-card-title>3</mat-card-title>
        </mat-card>
    </div>
    <div class="col-sm-1">
       
    </div>
</div> -->