<form (ngSubmit)="onSubmit()">
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Salutation</mat-label>
                    <mat-select>
                        <mat-option >
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>D.O.B</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix
[for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Religion</mat-label>
                    <mat-select>
                        <mat-option >
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Mother Tonuge</mat-label>
                    <mat-select>
                        <mat-option >
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>First Name</mat-label>
                    <input matInput value="" required ngModel
pattern="[a-zA-Z ]*">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Blood Group</mat-label>
                    <mat-select>
                        <mat-option >
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Gender</mat-label>
                    <mat-select>
                        <mat-option >
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Languages Known</mat-label>
                    <mat-select>
                        <mat-option >
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Middle Name</mat-label>
                    <input matInput value="" ngModel pattern="[a-zA-Z ]*">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Marital Status</mat-label>
                    <mat-select>
                        <mat-option >
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Nationality</mat-label>
                    <mat-select>
                        <mat-option >
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Personal Email</mat-label>
                    <input matInput value="" required ngModel
pattern="[a-zA-Z ]*">
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Last Name</mat-label>
                    <input matInput value="" required ngModel
pattern="[a-zA-Z ]*">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Weeding Date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix
[for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput value="" required ngModel
pattern="[a-zA-Z ]*">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>AAdhar Number</mat-label>
                    <input matInput value="" required ngModel
pattern="[a-zA-Z ]*">
                </mat-form-field>
            </div>
        </div>
    </div>
  <hr>
  <p>Family Info</p>

  <div class="container">
    <div class="row">
        <div class="col-sm-3">
            <mat-form-field appearance="standard">
                <mat-label>Father Name</mat-label>
                <input matInput value="" required ngModel pattern="[a-zA-Z ]*">
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Mother Name</mat-label>
                <input matInput value="" required ngModel pattern="[a-zA-Z ]*">
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Spouse Name</mat-label>
                <input matInput value="" required ngModel pattern="[a-zA-Z ]*">
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field appearance="standard">
                <mat-label>Father Occupation</mat-label>
                <input matInput value="" required ngModel pattern="[a-zA-Z ]*">
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Mother Occupation</mat-label>
                <input matInput value="" required ngModel pattern="[a-zA-Z ]*">
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Spouse Occupation</mat-label>
                <input matInput value="" required ngModel pattern="[a-zA-Z ]*">
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field appearance="standard">
                <mat-label>Father Contact Number</mat-label>
                <input matInput value="" required ngModel pattern="[a-zA-Z ]*">
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Mother Contact Number</mat-label>
                <input matInput value="" required ngModel pattern="[a-zA-Z ]*">
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Spouse Contact Number</mat-label>
                <input matInput value="" required ngModel pattern="[a-zA-Z ]*">
            </mat-form-field>
        </div>
    </div>
  </div>

</form>
<!--


  <p>
    Form Value: {{ profileForm.value | json }}
  </p>


  <p>
    Form Status: {{ profileForm.status }}
  </p>

  <p>
    <button (click)="updateProfile()">Update Profile</button>
  </p> -->
