<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="p-base">
    <div class="container-fluid" style="margin-top:5px">
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Salutation</mat-label>
                    <mat-select formControlName="Salutation">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>D.O.B</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="Dob">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Religion</mat-label>
                    <mat-select formControlName="Religion">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Mother Tonuge</mat-label>
                    <mat-select formControlName="MotherTonge">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>First Name</mat-label>
                    <input formControlName="FirstName" matInput value="">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Blood Group</mat-label>
                    <mat-select formControlName="BloodGroup">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="Gender">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Languages Known</mat-label>
                    <mat-select formControlName="LanguagesKnown">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Middle Name</mat-label>
                    <input formControlName="MiddleName" matInput value="">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Marital Status</mat-label>
                    <mat-select formControlName="MaritalStatus">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Nationality</mat-label>
                    <mat-select formControlName="Nationality">
                        <mat-option>
                            <!-- {{blood.viewValue}} *ngFor="let blood
of bloods" [value]="blood.value" -->
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Personal Email</mat-label>
                    <input formControlName="PersonalEmail" matInput value="">
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Last Name</mat-label>
                    <input formControlName="LastName" matInput value="">
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>WeedingDate</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="WeedingDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Mobile Number</mat-label>
                    <input formControlName="MobileNumber" matInput value="">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>AAdhar Number</mat-label>
                    <input formControlName="AadharNumber" matInput value="">
                </mat-form-field>
            </div>
        </div>
    </div>
    <hr>

    <p class="mat-title"> Family Info</p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Father Name</mat-label>
                    <input formControlName="FatherName" matInput value="">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Mother Name</mat-label>
                    <input formControlName="MotherName" matInput value="">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Spouse Name</mat-label>
                    <input formControlName="SpouseName" matInput value="">
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Father Occupation</mat-label>
                    <input formControlName="FatherOccupation" matInput value="">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Mother Occupation</mat-label>
                    <input formControlName="MotherOccupation" matInput value="">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Spouse Occupation</mat-label>
                    <input formControlName="SouseOccupation" matInput value="">
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Father Contact Number</mat-label>
                    <input formControlName="FatherMobileNumber" matInput value="">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Mother Contact Number</mat-label>
                    <input formControlName="MotherMobileNumber" matInput value="">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Spouse Contact Number</mat-label>
                    <input formControlName="SpouseMobileNumber" matInput value="">
                </mat-form-field>
            </div>
        </div>
    </div>
    <app-address-details></app-address-details>
</form>



<!-- <p>
    Form Value: {{ profileForm.value | json }}
  </p> -->


<!-- <p>
    Form Status: {{ profileForm.status }}
  </p> -->

<!-- <p>
    <button (click)="updateProfile()">Update Profile</button>
  </p> -->