<form [formGroup]="courseDetailsForm" class="p-base">
    <div class="container-fluid" style="margin-top:5px">
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Course Name</mat-label>
                    <input formControlName="courseName" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Course Code</mat-label>
                    <input formControlName="courseCode" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Course Description</mat-label>
                    <input formControlName="courseDescription" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Topic</mat-label>
                    <input formControlName="courseDescription" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Completion Criteria</mat-label>
                    <mat-select disableRipple formControlName="CompletionCriteria" matInput>
                        <mat-option value="1">Option 1</mat-option>
                        <mat-option value="2">Option 2</mat-option>
                        <mat-option value="3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="col-sm-3">
                <mat-form-field appearance="standard">
                    <mat-label>Passing Score</mat-label>
                    <input formControlName="PassingScore" matInput>
                </mat-form-field>
            </div>
        </div>
    </div>
   
</form>