<!-- <button mat-raised-button
class="example-delete-tab-button"
[disabled]="tabs.length === 1"
(click)="backTab(index)">
Delete Tab
</button> -->

<div clas="container-fluid">
    <form [formGroup]="documentForm" class="p-base">

        <!-- <angular-file-uploader #fileUpload1
        [config]="afuConfig">
       [resetUpload]=resetVar -->
        <!-- // (ApiResponse)="DocUpload($event)">  -->



        <div class="row" style="width: 100%;">
            <div class="col-sm-3" style="margin-left: 50px;margin-Top: 20px;">
                <h2>Transfer Certificate</h2>
            </div>
            <div class="col-sm-5" style="margin-Top: 20px;">
                <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                <img [src]="createImgPath(imgPath)" alt="profile picture" style="width:60px; height:60px;">
            </div>
            <div class="col-sm-3" style="margin-top: 20px;">
                <input type="file" id="tCertificate" (change)="Onfilesave($event,0)" style="visibility: hidden;"
                    formControlName="transferCertificate">
                <!-- <div innerHtml="result"></div> name="tCertificate" accept="image/png, image/jpeg"-->
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="col-sm-3" style="margin-left: 50px;">
                <h2>Birth Certificate</h2>
            </div>
            <div class="col-sm-5">
                <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                <img [src]="createImgPath(imgPath)" alt="profile picture" style="width:60px; height:60px;">
            </div>
            <div class="col-sm-3" style="margin-top: 20px;">

                <input type="file" id="birthCertificate" (change)="Onfilesave($event,1)" style="visibility: hidden;"
                    formControlName="birthCertificate">
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="col-sm-3" style="margin-left: 50px;">
                <h2>Passport</h2>
            </div>
            <div class="col-sm-5">
                <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                <!-- <img [src]="createImgPath(imgPath)" alt="profile picture" style="width:60px; height:60px;"> -->
                <!-- <ngx-doc-viewer [url]="createImgPath(imgPath)" viewer="google" style="width:100%;height:50vh;"></ngx-doc-viewer> -->
            </div>
            <div class="col-sm-3" style="margin-top: 20px;">
                <input type="file" id="passspsorts" (change)="Onfilesave($event,2)" style="visibility: hidden;"
                    formControlName="passport">
                <!-- <div innerHtml="result"></div> name="tCertificate" accept="image/png, image/jpeg"-->
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="col-sm-3" style="margin-left: 50px;">
                <h2>Aadhar</h2>
            </div>
            <div class="col-sm-5">
                <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                <img [src]="createImgPath(imgPath)" alt="profile picture" style="width:60px; height:60px;">
            </div>
            <div class="col-sm-3" style="margin-top: 20px;">
                <input type="file" id="aadhar1" (change)="Onfilesave($event,3)" style="visibility: hidden;"
                    formControlName="aadhar">
                <!-- <div innerHtml="result"></div> name="tCertificate" accept="image/png, image/jpeg"-->
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="col-sm-3" style="margin-left: 50px;">
                <h2>Ration Card</h2>
            </div>
            <div class="col-sm-5">
                <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                <img [src]="createImgPath(imgPath)" alt="profile picture" style="width:60px; height:60px;">
            </div>
            <div class="col-sm-3" style="margin-top: 20px;">
                <input type="file" id="ratincard" (change)="Onfilesave($event,4)" style="visibility: hidden;"
                    formControlName="rationCard">
                <!-- <div innerHtml="result"></div> name="tCertificate" accept="image/png, image/jpeg"-->
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="col-sm-3" style="margin-left: 50px;">
                <h2>Student Visa</h2>
            </div>
            <div class="col-sm-5">
                <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                <img [src]="createImgPath(imgPath)" alt="profile picture" style="width:60px; height:60px;">
            </div>
            <div class="col-sm-3" style="margin-top: 20px;">
                <input type="file" id="studentvisa" (change)="Onfilesave($event,5)" style="visibility: hidden;"
                    formControlName="studentVisa">
                <!-- <div innerHtml="result"></div> name="tCertificate" accept="image/png, image/jpeg"-->
            </div>
        </div>

    </form>



</div>