<app-header-action [index]='0'></app-header-action>
<mat-tab-group [selectedIndex]="selectedTab">
  <mat-tab label="Student Details">
    <mat-icon *ngIf="stuFormtDetails[0]!=null && stuFormtDetails[0]" color="primary">check_circle</mat-icon>
    <app-student-details (stuFormtDetails)="setTabFormDetails($event,0)" ></app-student-details>
  </mat-tab>
  
  <mat-tab label="Parents/Guardian Details">
    <mat-icon *ngIf="stuFormtDetails[1]!=null && stuFormtDetails[1]" color="primary">check_circle</mat-icon>
    <app-parents-guardian-details (stuFormtDetails)="setTabFormDetails($event,1)"></app-parents-guardian-details>
  </mat-tab>
  <mat-tab label="Documents">
    <mat-icon *ngIf="stuFormtDetails[2]!=null && stuFormtDetails[2]" color="primary">check_circle</mat-icon>
    <app-document (stuFormtDetails)="setTabFormDetails($event,2)"></app-document>
  </mat-tab>
</mat-tab-group>

<div class="footer-n-stu">

  <button type="button" class="gradient-button" (click)="btnMovement('bck')" [disabled]="selectedTab<=0">
    Back
  </button>
  <button type="button" class="gradient-button" (click)="btnMovement('frd')">
    <span *ngIf="!(selectedTab>=2)">Next</span>
    <span *ngIf="(selectedTab>=2)">Submit</span>
  </button>
</div>
